<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>FOODY</title>
  <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
  <nav>
    <div class="navTop">
        <div class="navItem">
            <img width="150px" height="45px" src="../img/logo-gogi-house-X5.png" alt="">  
        </div>
        <div class="navItem">
            <span class="limitedOffer">Limited Offer</span>
        </div>  
    </div>
    <div class="Menu">
      <div class="navItem">
        <div class="navBottom">
          <h3 class="menuItem">TRANG CHỦ</h3>
          <h3 class="menuItem">GIỚI THIỆU</h3>
          <h3 class="menuItem">SẢN PHẨM</h3>
          <h3 class="menuItem">BLOG</h3>
        </div>
        <div class="search">
            <input type="text" placeholder="Search.." class="searchInput">
            <img src="../img/search-regular-24.png" width="20" height="20" alt="" class="searchIcon">
        </div> 
      </div>
    </div>
    
</nav>
<div class="nen_web" >
    <img src="../img/gogi-house-banner-1_1.png" alt="">
</div>
<div class="footer">
  <div class="footer-top">
    <div class ="footer-1">
      <p>GỌI MUA HÀNG ( 08:30-22:00) <br>
        0967718668 <br>
        Tất cả các ngày trong tuần</p>
    </div>
    <div class ="footer-1">
      <p>GÓP Ý KHIẾU NẠI ( 08:30-22:00) <br>
        0967718668 <br>
        Tất cả các ngày trong tuần</p>
    </div>
    <div class ="footer-1">
      <p>ZALO BUÔN : 09811881729</p>
      <input type="email" name="" id="">
    </div>
    <div class ="footer-1">
      <p>LIÊN LẠC VỚI CHÚNG TÔI ( 08:30-22:00) <br>
        0967718668 <br>
        Tất cả các ngày trong tuần</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-2">
      <h3>Địa chỉ</h3>
      <p>Ngõ 230 Lạc Trung Ngách 15,Số Nhà 4N3 Hà Nội</p>
    </div>
    <div class="footer-2">
      <h3> VỀ CHÚNG TÔI</h3>
      <p>Giới thiệu</p>
      <p>Liên hệ</p>
      
    </div>
    <div class="footer-2">
      <h3>HỆ THỐNG CỬA HÀNG</h3>
      <p>Facebook</p>
      <p>Instagram</p>
    </div>
    <div class="footer-2">
      <h3>FANPAGE CHÚNG TÔI </h3>
    </div>
  </div>
</div>
<script>
  localStorage.setItem('chao','xin chao cac ban');
</script>
</body>
</html>
