<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANG CHỦ</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../BeVietnamPro-Black.ttf">
  <script src="https://kit.fontawesome.com/d5f3e70d70.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header">
        <div class="contact">
            <div class="contact-1">
                <img src="../img/logo-gogi-house-X5.png" alt="">
                <div class="login">
                    <a href="login.html">Đăng Nhập</a>
                    <a class="login-cart" href=""><i class="fa-solid fa-cart-shopping"><span>150.000</span> <sup>đ</sup></i></a>
                </div>
            </div>
            <div class="contact-2">
                <a href="">TRANG CHỦ</a>
                <a href="">GIỚI THIỆU</a>
                <a href="">SẢN PHẨM</a>
                <a href="">BLOG</a>
                <div class="box">
                    <input
                        type="text"
                        class="input"
                    />
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="banner">
            <div class="box-left">
                <h2>
                    <span>THỨC ĂN</span>
                    <br>
                    <span>THƯỢNG HẠNG</span>
                </h2>
                <p>Chuyên cung cấp các món ăn đảm bảo dinh dưỡng
                    hợp vệ sinh đến người dùng,phục vụ người dùng 1 cái
                    hoàn hảo nhất</p>
                <button>Mua ngay</button>
            </div>
            <div class="box-right">
                <img src="../img/img_1.png" alt="">
                <img src="../img/img_2.png" alt="">
                <img src="../img/img_3.png" alt="">
            </div>
            <div class="to-bottom">
                <a href="">
                    <img src="../img/to_bottom.png" alt="">
                </a>
            </div>
        </div>
    </header>
    <main>
        <h2 style="color: #eae197;font-family: 'Inter';font-size: 50px;font-weight: 700;margin: 20px 0px 76px; text-align: center;">SẢN PHẨM THỊNH HÀNH</h2>
        <div class="product-grid">
            <div class="product">
                <img src="../img/1377_Canh_kim_chi_1_2.jpg" alt="Product 1">
                <h3>Canh kim chi</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/2421_Tokboki_xao_hai_san_1_1.jpg" alt="Product 2">
                <h3>Tobokki hải sản xào cay</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/2424_Ha_cao_truyen_thong_han_quoc_1_1.jpg" alt="Product 3">
                <h3>Há cảo truyền thống</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/2630_Banh_xeo_hai_san_Gogi_1_2.jpg" alt="Product 4">
                <h3>Bánh xèo hải sản</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/2643_Com_tron_bat_da_han_quoc_sot_gogi_1_2.jpg" alt="Product 4">
                <h3>Cơm trộn bát đá hàn quốc </h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/2969_Mi_Jajang_1_2.jpg" alt="Product 4">
                <h3>Mì Jajang</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/4885_Lau_Bulgogi_1_2.jpg" alt="Product 4">
                <h3>Lẩu Bulgogi</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
                
            </div>
            <div class="product">
                <img src="../img/4886_Lau_kim_chi_1_2.jpg" alt="Product 4">
                <h3>Lẩu kim chi</h3>
                <p><span>150.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <div class="product">
                <img src="../img/Bo_nuong_GwangYang.jpg" alt="Product 4">
                <h3>Bò nướng GwangYang</h3>
                <p><span>390.000</span> <sup>đ</sup></p>
                <button type="button" id="btnMua" class="add-to-cart">Thêm vào giỏ hàng</button>
            </div>
            <!-- Thêm các sản phẩm khác vào đây -->
        </div>
        <section class="cart">
            <i class="fa-solid fa-circle-xmark"></i>
            <h2>GIỎ HÀNG</h2>
            <form action="">
                <table>
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="display: flex;align-items: center;"><img style="width: 70px;" src="../img/1377_Canh_kim_chi_1_2.jpg" alt=""></td>
                            <td><p><span>150.000</span> <sup>đ</sup></p></td>
                            <td><input style="width: 30px;outline: none; text-align: center ;" type="number" value="1" min="0"></td>
                            <td><button> Xóa</button></td>
                        </tr>
                        <tr>
                            <td style="display: flex;align-items: center;"><img style="width: 70px;" src="../img/1377_Canh_kim_chi_1_2.jpg" alt=""></td>
                            <td><p><span>150.000</span> <sup>đ</sup></p></td>
                            <td><input style="width: 30px;outline: none; text-align: center ;" type="number" value="1" min="1"></td>
                            <td><button> Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:right;" class="price-total">
                    <p style="font-weight: bold;">Tổng tiền:<span>150.000</span> <sup>đ</sup></p>
                </div>
            </form>
            <button id="btnChotdon" type="submit">Chốt đơn thôi nào</button>
       

        </section>
        <section class="food-channel">
            <div class="ht">
                <h2>
                    TIN TỨC LIÊN QUAN
                </h2>
            </div>
            <div class="infor">
                <div class="information">
                    <img src="../img/food court.jpg" alt="">
                    <h3>Buffe Sen ẩm thực Tây Hồ  </h3>
                    <span>Ngày 21 tháng 10 năm 2023 </span>
                </div>
                <div class="information">
                    <img src="../img/hondao ki bi.jpg" alt="">
                    <h3>Hòn đảo kì bí</h3>
                    <span>Ngày 21 tháng 10 năm 2023 </span>
                </div>
                <div class="information">
                    <img src="../img/ngayhoiviethan-3400.jpg.webp" alt="">
                    <h3>Ngày hội ẩm thực Việt Nam Hàn Quốc</h3>
                    <span>Ngày 20 đến ngày 23 tháng 10 năm 2023 </span>
                </div>
                
            </div>

        </section>
        <div id="comment">
            <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
            <div id="comment-body">
                <div class="prev">
                    <a href="#">
                        <img src="../img/prev.png" alt="">
                    </a>
                </div>
                <ul id="list-comment">
                    <li class="item">
                        <div class="avatar">
                            <img src="../img/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Đình Vũ</div>

                        <div class="text">
                            <p>Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="../img/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Pham Van Tu</div>

                        <div class="text">
                            <p>Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="../img/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                            <span>
                                <img src="../img/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Trần Vi</div>

                        <div class="text">
                            <p>Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.</p>
                        </div>
                    </li>
                </ul>
                <div class="next">
                    <a href="#">
                        <img src="../img/next.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        
        <script src="main.js"></script>
    </main>

    <footer>
        <div class="footer-cha">
            
            <div class="footer-logo">
                <a href="file:///C:/Users/RAGHAV/Desktop/Coding/Grocery/Logo.png"><span>FOODY</span></a>
                
                <div class="footer-mxh">
                    <a href="https://www.facebook.com/"><img src="../img/bxl-facebook.svg"></a>
                    <a href="https://twitter.com/?lang=en-in"><img src="../img/instagram-logo-24.png"></i></a>
                    <a href="https://www.instagram.com/"><img src="../img/bxl-tiktok.svg"></i></a>
                    <a href="https://www.youtube.com/"><img src="../img/bxl-youtube.svg"></i></a>
                </div>
            </div>
            
            <div class="footer-nd">
                <strong style="margin-left: 1.9rem;">Sản phẩm</strong>
                <ul>
                    <li><a href="#">Sản phẩm </a></li>
                    <li><a href="#">Dụng cụ </a></li>
                    <li><a href="#">Thông tin</a></li>
                </ul>
            </div>
        
            <div class="footer-nd">
                <strong style="margin-left: 1.9rem;">Thể loại</strong>
                <ul>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Dụng cụ</a></li>
                    <li><a href="#">Thông tin</a></li>
                </ul>
            </div>

            <div class="footer-nd">
                <strong style="margin-left: 1.9rem;">Liên lạc</strong>
                <ul>
                    <li><a href="#">Phone : 0976341292</a></li>
                    <li><a href="#">Email : testyourcode123@gmail.com</a></li>
                    <li><a href="#">Coffe webstie server</a></li>
                </ul>
                <br><p style="color: white; margin-left: 1.9rem; margin-top: -20px;">Copyright ©2022 | All Rights Reserved</p>
            </div>
        </div>
    </footer>

    
    
</body>
</html>