<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>IMAGE</title>
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <header class="header">
        <div class="contact">
            <div class="contact-1">
                <img src="../img/logo-gogi-house-X5.png" alt="">
                <div class="login">
                    <a href="login.html">Đăng Nhập</a>
                    <a class="login-cart" href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
            <div class="contact-2">
                <a href="index.html">TRANG CHỦ</a>
                <a href="">GIỚI THIỆU</a>
                <a href="">SẢN PHẨM</a>
                <a href="">BLOG</a>
                <div class="box">
                    <input
                        type="text"
                        class="input"
                    />
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

            </div>
        </div>
    </header>
    <h1 style="color: black; text-align: center;">Danh sach san pham</h1>
        
    <div class="product-grid">
            <div id="product-list"></div>
    </div>
    <script src="data.js"></script>
    <script src="main.js"></script>
    
</body>
</html>